<%= render 'shared/content_title', title: 'All Posts' %>

<p><%= link_to 'New Post', new_post_path %> 
| <%= link_to 'New Category', new_category_path %></p>

<% @posts.each do |post| %>

<div class="post-box"> 

  <% if post.categories.any? %>
    <% post.categories.each do |category| %>
      <small>| <%= link_to category.name, category_path(category) %></small>
    <% end %><small> |</small><br>
  <% end %>
  <p>
    <strong><%= link_to post.title, post_path(post) %></strong><br>
    <%= post.url %>
  </p>
  <p><%= post.description %></p>
</div>

<% end %>