<%= form_for @category do |f| %>

<%= render 'shared/errors', obj: @category %>

<div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <p><%= f.submit %></p>
</div>
<% end %>
