<%= render 'shared/content_title', title: "Category: #{@category.name}" %>

<div> 
<% if @category.posts.any? %>

  <% @category.posts.each do |post| %>
    <div class="post-box"> 
      <% if post.categories.any? %>
        <% post.categories.each do |category| %>
          <small>| <%= link_to category.name, category_path(category) %></small>
        <% end %><small> |</small><br>
      <% end %>
      <p>
        <strong><%= link_to post.title, post_path(post) %></strong><br>
        <%= post.url %>
      </p>
      <%= post.description %>
    </div>
  <% end %>

<% end %>
</div>

<p><%= link_to 'Back', posts_path %>
  | <%= link_to 'Edit', edit_category_path %></p>